# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI Trigger

on:
  workflow_run:
    workflows: ["Node.js CI"]
    branches: [master]
    types:
      - completed

concurrency:
  group: staging-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  build:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    steps:
    - run: echo "it passed"
    # strategy:
    #   matrix:
    #     node-version: [10.x, 12.x, 14.x, 15.x]
        # iSee supported Node.js release schedule at https://nodejs.org/en/about/releases/s
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test --if-present
  #   - name: Login to Heroku Container registry
  #     env:
  #       HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
  #     run: heroku container:login
  #   - name: Build and push
  #     env: 
  #       HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
  #     run: heroku container:push -a devyapp web
  #   - name: Release
  #     env: 
  #       HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
  #     run: heroku container:release -a devyapp web

  # deploy:
  #   runs-on: ubuntu-latest

  #   steps:
  #   - name: SSH and deploy node app
  #     uses: appleboy/ssh-action@master
  #     with:
  #       host: ${{ secrets.HOST }}
  #       username: ${{ secrets.USERNAME }}
  #       key: ${{ secrets.KEY }}
  #       port: ${{ secrets.PORT }}
        
  #       script: |
  #         cd ~/devyapp
  #         git pull origin master
  #         npm install --production
  #         pm2 restart all
        

